*.pyc
__pycache__/

data_ktp_1.csv
data_ktp_2.csv
data_ktp_3.csv
data_ktp_4.csv
data_ktp_5.csv
data_ktp_6.csv
data_ktp_7.csv
data_ktp_8.csv

ereg-muslimat-76ee33a5f1a7.json

picture_cant_ocr.txt

data_ktp/
OCR_texts/
resource/